!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title PAT Prototype
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='/css/stylesheet.css')
    link(rel='stylesheet', href='/js/lib/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/js/lib/bootstrap/dist/css/bootstrap-theme.css')
    link(rel='stylesheet', href='/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/modernizr.min.css')
  body
    block body
  footer
    div(id='footer', class='bs-docs-footer', role='contentinfo')
      p(class='footer') Iskandar Setiadi © 2014.
